mixin archiveListItem(label)
  .c-archive-list__item
    a.c-archive-list__item-wrap(href="archive.html")
      .c-archive-list__item-label #{label} (999)

.c-sub-section-wrap
  .c-sub-section
    h2.c-sub-section__head
      |Profile
    .c-sub-section__body
      .p-profile
        .p-profile__wrap
          img.p-profile__image(src="/img/common/elephant.png", width=120, height=120 alt="")
          .p-profile__body
            h3.p-profile__head
              |Yoichi Kobayashi
            p.p-profile__text
              |I am a front-end developer. 
              br
              |I wanna be a creative coder.
            .p-profile__sns
              a.p-profile__sns-item.p-profile__sns-item--facebook(
                href="https://www.facebook.com/ykob1984",
                target="_blank"
              )
                +iconFacebook(10)
              a.p-profile__sns-item.p-profile__sns-item--twitter(
                href="https://twitter.com/ykob0123",
                target="_blank"
              )
                +iconTwitter(20)
              a.p-profile__sns-item.p-profile__sns-item--github(
                href="https://github.com/ykob",
                target="_blank"
              )
                +iconGitHub(20)

  .c-sub-section
    h2.c-sub-section__head
      |Categories
    .c-sub-section__body
      .c-archive-list
        +archiveListItem('Category Name')
        +archiveListItem('Category Name')
        +archiveListItem('Category Name')
        +archiveListItem('Category Name')

  .c-sub-section
    h2.c-sub-section__head
      |Yearly Arhchives
    .c-sub-section__body
      .c-archive-list
        +archiveListItem('2017')
        +archiveListItem('2016')
        +archiveListItem('2015')
        +archiveListItem('2014')

.c-sub-section-wrap
  .c-sub-section
    h2.c-sub-section__head
      |Recent Entries
    .c-sub-section__body
      .c-entries-s
        - for (var i = 0; i < 5; i++)
          a.c-entries-s__item(href="single.html")
            .c-entries-s__item-label
              .c-entries-s__item-date
                |2017.12.31
              .c-entries-s__item-title
                |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          
